body {
	font: normal bold 14px/18px "Raleway", sans-serif;
	color: #360;
}

/* LINKS */
a {
	color: #9c6;
	text-decoration: none;
}

a:hover {
	color: #360;
	text-decoration: none;
}

/* HEADER */
.text-muted {
	color: #9c6;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin: 20px 0 0;
	max-width: 100px;
	width: 100%;
}

/* CONTENT */
hr {
	border: none;
	height: 2px;
	color: #9c6; /* old IE */
	background: #9c6; /* Modern Browsers */
}

.main_img {
	position: relative;
	margin: auto;
	padding: 0;	
}

.main_img li{
	display: inline-block;
	display: none;
}



.main_img li img{
	max-width: 1200px;
	width: 100%;
}

.pic-caption{
	position: absolute;
	bottom: 25px;
	right: 25px;
	font-style: italic;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px 10px;
	border-radius: 3px;
}

.main_img_container button {
	position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
	border: none;
	padding: 5px 15px;
	border-radius: 3px;
}

.main_img_container button:hover {
    background-color: rgba(255, 255, 255, 0.8);
	border: none;
}

.next {
	padding-right: 20px;
	right: 10px;
	bottom: 50%;
}

.prev {
	padding-left: 20px;
	left: 10px;
	bottom: 50%;
}

.project-imgs {
	border: 3px solid #9c6;
	padding: 2px;
}

/* FOOTER */


/* MEDIA */
@media screen and (max-width: 767px) {
	.project-imgs {
	    display: inline;
	}

	.title_sub {
		text-align: center;
	}

	.title-super {
		font-size: 48px;
	}
}

@media screen and (max-width: 630px) {
	.project_links {
		padding: 10px;
	}

	.title-super {
		font-size: 36px;
	}
}


@media screen and (max-width: 395px) {

	.main_img_container button {
		display: none;
	}

	.title-super {
		font-size: 24px;
	}

	.title-small{
		font-size: 15px;
	}
}

@media screen and (max-width: 300px) {
	.pic-caption{
		display: none;
	}
}